* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    height: 100vh;
}

.container {
    padding-top: 55px;
}

#main-card {
    background-color: #3d444b
}

#button-card {
    background-color: #343A40;
    margin-top: 15px;
}

#dealer-cards img {
    padding: 5px;
    width: 150px;
    height: 200px;
}

#your-cards img {
    padding: 5px;
    width: 150px;
    height: 200px;
}

#hit,
#stay {
    width: 150px;
    height: 50px;
    margin: 5px;
}