* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
}

body {
    height: 100vh;
}

#dealer-cards img {
    padding: 5px;
    width: 150px;
    height: 200px;
}

#your-cards img {
    padding: 5px;
    width: 150px;
    height: 200px;
}

#hit,
#stay {
    width: 150px;
    height: 50px;
    margin: 5px;
}